@-webkit-keyframes move{
  from{
    top: 410px;
    left: 140px;
  }
  to{
    top: 410px;
    left: 490px;
  }
}
#starCatchGrid{
  display= grid;
  position: relative;
  z-index: 2;
  grid-template-columns: 1fr;
   grid-template-rows: 2fr 6fr 1fr 1fr;
   background-color: black;
   width:500px;
   bottom: 350px;
}
#tel{
  margin-left: 50px;
  height: 40px;
  width: 400px;
  background-color:#1E3269;
}

#starstar{
  position:absolute;
  top: 70px;
  left:100px;
  width:40px;
  height:40px;
  margin-left:-90px;
  animation: move 1s alternate forwards infinite running;

}
#targetZone{
  margin-left: 175px;
  background-color: #FFAA28;
  height: 40px;
  width: 60px;
}
.stop{
  animation-play-star: paused;
}
#backback{
  background-color: skyblue;
  width: 300px;
  height: 300px;
  margin-left: 100px;

}
#description{
  background-color: white;
  border: 1px solid black;
  width: 500px;
}
#picturesajin{
  width: 200px;
  height: 200px;
  margin-top: 50px;
  margin-left: 50px;
}
#button{
  width: 116px;
      height: 46px;
      margin-left: 200px;
}
