* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
}
li {
  border: solid 3px black;
  width: 200px;
  height: 200px;
  text-align: center;
}
.main_links {
  display: flex;
  justify-content: space-around;
}
.main_link_anchor {
  margin-top: 20px;
}
