:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #4db8ff;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-dark-blue: #427585;
  --color-green: #b5f5ac;
  --color-dark-green: #72bd689a;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 12px;

  /* Animation */
  --animation-duration: 300ms;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  cursor: default;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  cursor: url(picture/maple_basic.cur), pointer;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

header {
  height: 10%;
  background-color: var(--color-dark-grey);
  text-align: center;
}
.header__anchor {
  color: var(--color-white);
}
main {
  height: 70%;
  display: flex;
}
.reinforceWindow {
  width: 70%;
}
.reinforceBox {
  width: 80%;
  height: 80%;
  background-color: #726255;
  margin: auto;
  transform: translateY(12.5%);
  border-radius: var(--size-border-radius);
  display: block;
}
.renforceBox__outerBox {
  display: none;
  width: 35%;
  height: 50%;
  margin: auto;
  transform: translateY(50%);
  background: rgb(183, 216, 221);
  background: linear-gradient(
    184deg,
    rgba(183, 216, 221, 1) 0%,
    rgba(54, 181, 200, 1) 50%,
    rgba(7, 126, 144, 1) 100%
  );
  border-radius: var(--size-border-radius);
}
.reinforceBox__borderBox {
  width: 90%;
  height: 90%;
  margin: auto;
  transform: translateY(5.5%);
  border: dashed 6px var(--color-white);
  border-radius: var(--size-border-radius);
}
.reinforceBox__img {
  display: block;
  width: 40%;
  height: 30%;
  margin: auto;
  transform: translateY(60%);
}
.reinforceBox__description {
  height: 40%;
  transform: translateY(30%);
  text-align: center;
  color: var(--color-white);
  font-weight: var(--weight-bold);
  font-size: 140%;
}

aside {
  width: 30%;
  margin: 5% 0;
}

.itemSelectWindow {
  height: 55%;
  background-color: rgb(69, 69, 69);
  color: var(--color-white);
  border-radius: var(--size-border-radius);
}
.optionSelect__header {
  display: flex;
}
.optionSelct__buttons > button {
  background-color: #4db8ff;
  color: var(--color-white);
  width: 100%;
  height: 90%;
  border-radius: var(--size-border-radius);
}
.optionSelct__buttons > .selected {
  background-color: #427585;
}
.optionSelct__buttons {
  margin-left: 10%;
  margin-top: 2%;
  display: flex;
  width: 50%;
}
.weaponBtn {
  margin-left: 5%;
}
.itemSlectWindow__selects {
  height: 80%;
}
.itemSelectWindow select {
  width: 100%;
  color: var(--color-white);
  background: rgb(179, 179, 179);
  background: linear-gradient(
    184deg,
    rgba(179, 179, 179, 1) 0%,
    rgba(24, 24, 24, 1) 100%
  );
}
.jobOption select {
  height: 90%;
}
.itemOptions select {
  height: 120%;
}
.itemSelectWindow option {
  background-color: rgb(65, 65, 65);
  box-shadow: inset 2px 2px 10px 100px black;
}
.itemSelectWindow option:hover {
  background-color: rgb(39, 39, 39);
}
.optionSelect__title {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
}
.jobOption {
  margin-bottom: 6px;
  height: 30%;
}
.itemOptions {
  margin-bottom: 6px;
  height: 25%;
}
.itemOptions {
  display: flex;
  justify-content: space-between;
}
.itemOptions div {
  width: 48%;
}
.itemSelctWindow__optionSelect {
  height: 40%;
  width: 90%;
  margin: auto;
}
.weaponHand {
  height: 40%;
}
.weaponType {
  height: 40%;
}
.weaponHand > select,
.weaponType > select {
  height: 75%;
}
.line {
  border-top: dashed 2px gray;
}
.itemSelectWindow__levelLimit {
  width: 90%;
  height: 20%;
  margin: auto;
}
.itemSelectWindow__nameSearch {
  width: 90%;
  height: 20%;
  display: flex;
  align-items: center;
}
.nameSearch__title {
  font-size: 110%;
  margin-right: 10px;
  margin-left: 10px;
}
.nameSearch__searchImg {
  background-color: var(--color-white);
  color: gray;
}
.nameSearch__searchBlock {
  border: 0;
  padding: 3px;
  width: 60%;
}
.nameSearch__searchBlock:focus {
  outline: none;
}
.itemSelectWindow__levelLimit {
  display: flex;
  margin: 0;
}
.levelLimit__option {
  display: flex;
}
.levelLimit__title {
  font-size: 110%;
  width: 40%;
  margin-right: 10px;
  margin-left: 10px;
}
.levelLimit__borderline {
  display: block;
  font-size: 35px;
  text-align: center;
  transform: translateY(-20%);
  color: gray;
  width: 8%;
}
.levelLimit__option input {
  width: 42%;
  height: 60%;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.searchClearBtn {
  position: absolute;
  right: 55%;
  top: 30%;
  width: 24%;
  background-color: rgb(10, 9, 9);
  color: white;
  font-size: 100%;
  border-radius: var(--size-border-radius);
}
.searchBtns {
  height: 10%;
  position: relative;
}
.searchStartBtn {
  position: absolute;
  right: 6%;
  width: 45%;
  background-color: greenyellow;
  font-size: 160%;
  color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.itemWindow {
  height: 50%;
  width: 60%;
  margin: auto;
}
.itemDivisions {
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
}
.itemDivision {
  width: 41.4px;
  background-color: gray;
  color: var(--color-white);
  margin-bottom: 0;
  border: 1px black solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 110%;
}
.items__table {
  margin: auto;
  margin-bottom: 3px;
}
.itemDivisions > .sel {
  background-color: black;
}
td {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  background: rgb(215, 215, 215);
  background: linear-gradient(
    184deg,
    rgba(215, 215, 215, 1) 0%,
    rgba(255, 255, 255, 1) 72%
  );
  padding: 0;
}
.items__table img {
  width: 100%;
  height: 90%;
  transform: translateY(5%);
}
.itemWindow__moneyBlock {
  height: 10%;
  margin: auto;
  width: 206px;
  border-top: solid 1.2px black;
  display: flex;
}
.moneyBlock__title {
  background-color: gray;
  border-radius: 4px;
}
.moneyBlock__nowMoney {
  display: block;
  border: solid 1px var(--color-black);
  width: 155px;
  margin-left: 2px;
  text-align: end;
  padding-right: 5px;
}
.mesoImg {
  height: 16px;
  width: 16px;
}

footer {
  height: 20%;
}
.optionWindow {
  background-color: #4d4d4d;
  color: var(--color-white);
  width: 40%;
  margin-left: 7%;
  border-radius: var(--size-border-radius);
  padding-left: 1%;
  padding-bottom: 1%;
  padding-top: 1%;
}

.searchedPageWindow {
  display: block;
  background-color: #4d4d4d;
  color: var(--color-white);
  position: absolute;
  width: 62%;
  height: 82%;
  border-radius: var(--size-border-radius);
  top: 15%;
  left: 5%;
  padding: 1%;
}
.searchedPageWindow.none {
  display: none;
}

.searchedPageWindow__header {
  display: flex;
  flex-direction: row;
  height: 3%;
  margin-bottom: 1%;
  position: relative;
}

.searchedPageWindow__title {
  font-weight: var(--weight-bold);
}
.searchedPageWindow__previousBtn {
  margin-left: 32%;
}
.searchedPageWindow__pageInformation {
  margin: 0 1%;
  transform: translateY(-10%);
}

.searchedPageWindow__nextBtn,
.searchedPageWindow__previousBtn {
  border: solid 1px var(--color-black);
  border-radius: 6px;
  color: white;
  background: rgb(179, 179, 179);
  background: linear-gradient(
    184deg,
    rgba(179, 179, 179, 1) 0%,
    rgba(24, 24, 24, 1) 100%
  );
}
.searchedPageWindow__cancelBtn {
  background-color: var(--color-white);
  border-radius: 6px;
  position: absolute;
  right: 2%;
  height: 100%;
}
.searchedPageWindow__itemTableSubBlock {
  display: flex;
  flex-direction: row;
  background: rgb(179, 179, 179);
  background: linear-gradient(
    184deg,
    rgba(179, 179, 179, 1) 0%,
    rgba(24, 24, 24, 1) 100%
  );
  border: solid 1px var(--color-black);
  border-radius: 6px;
  height: 5%;
}
.itemTableSubBlock__itemName {
  margin-left: 28%;
}
.itemTableSubBlock__levelLimit {
  margin-left: 28%;
}
.searchedPageWindow__itemTable {
  height: 92%;
}
.itemRow__itemImgBlock {
  width: 8%;
  height: 100%;
}
.itemRow__itemImg {
  border-radius: 6px;
  height: 90%;
  width: 90%;
  margin: 5%;
}
.itemRow {
  display: flex;
  flex-direction: row;
  border: solid 1px var(--color-black);
  border-radius: var(--size-border-radius);
  height: 9.35%;
  align-items: center;
  margin: 0.5% 0;
}
.itemRow__itemName {
  margin-left: 8%;
  width: 40%;
  text-align: center;
}
.itemRow__levelLimit {
  width: 40%;
  text-align: center;
}
.itemRow__addItemBtn {
  background-color: var(--color-white);
  border-radius: 10px;
  color: black;
  font-size: 200%;
  margin: 0 1.5%;
  width: 7%;
  height: 80%;
}

.starforceBox {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 6px;
}
.starforceBox > div {
  border-radius: 8px;
  color: var(--color-white);
}
.starforceBox__reinforceSelects {
  height: 10%;
  display: flex;
  justify-content: space-around;
}
.starforceBox__reinforceSelect {
  width: 30%;
  border: solid 1px var(--color-black);
  background-color: #4f443b;
}
.starforceBox__reinforceSelect.selected {
  background-color: #427585;
}

.starforceBox__alertBox {
  height: 10%;
  text-align: center;
  border: solid 1px var(--color-black);
  background-color: #4f443b;
}
.alertBox__description {
}
.starforceBox__alertBox i {
  color: yellow;
}
.starforceBox__alertBox .yellow {
  color: yellow;
}

.starforceBox__mainItemBlock {
  height: 50%;
  display: flex;
}
.mainItemBlock__itemView {
  width: 33%;
  border: solid 1px var(--color-black);
  background: rgb(183, 216, 221);
  background: linear-gradient(
    184deg,
    rgba(183, 216, 221, 1) 0%,
    rgba(54, 181, 200, 1) 50%,
    rgba(7, 126, 144, 1) 100%
  );
  border-radius: 8px;
  position: relative;
}
.mainItemBlock__detailStarforce {
  position: absolute;
  color: yellow;
  background-color: red;
}
.mainItemBlock__borderBlock {
  border: dashed 6px var(--color-white);
  border-radius: var(--size-border-radius);
  width: 80%;
  height: 80%;
  margin: 10%;
}
.mainItemBlock__reinforceDescription {
  width: 66%;
  border: solid 1px var(--color-black);
  font-size: 20px;
  overflow-y: auto;
  background-color: #4f443b;
}
.starforceBox__starforceOptions {
  display: flex;
  height: 10%;
}
.starforceOption {
  background-color: #4f443b;
  color: bisque;
  border: solid 1px var(--color-black);
  border-radius: var(--size-border-radius);
  width: 50%;
}
.starforceBox__necessaryMoneyBlock {
  background-color: #4f443b;
  border: solid 1px var(--color-black);
  height: 10%;
  display: flex;
}
.necessaryMoneyBlock__titleBox {
  width: 25%;
}
.necessaryMoneyBlock__title {
  color: bisque;
}
.necessaryMoneyBlock__titleBox i {
  color: yellow;
}
.necessaryMoneyBlock__leftMoney {
  width: 75%;
  text-align: center;
}
